@import "~/src/variables.scss";

.card-details-wrapper {
    direction: rtl;
    width: 100%;
    padding: 10px;


    .card {
        width: 100%;
        padding: 10px;
        height: 100px;
        background-color: $mainColor;


        .progress {
            position: relative;
            height: 30px;
            align-items: center;
            justify-content: center;

            .filter-percent {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                background-color: $subColor;
                max-width: 100%;
                transition: width 0.5s;
            }

            .percent {
                z-index: 2;
                position: relative;
                color: $mainColor;
            }
        }


        .donated-text,
        .donated-amount,
        .goal-text,
        .goal-amount {
            white-space: nowrap;
        }

        .name-ambassador {
            text-align: center;
        }
    }

    &.group .card {
        box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.3);
        background-color: $subColor;

        * {
            color: $mainColor;
        }

        .filter-percent {
            background-color: $mainColor;
        }

        .progress {

            .filter-percent {
                background-color: $mainColor;
            }

            .percent {
                color: $subColor;
            }
        }
    }

}