@import "~/src/variables.scss";

.total-wrapper {
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;


    .total-title-amount {
        font-size: 25px;
        color: $thirdColor;
        font-weight: bold;
    }
}