@import "~/src/variables.scss";

.total-wrapper {
    direction: rtl;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    // align-items: center;


    .total-title-wrapper {
        padding-left: 50px;

        .total-title-amount {
            font-size: 60px;
            color: $thirdColor;
            font-weight: bold;
        }

        .total-title-text {
            font-size: 50px;
        }
    }
}