@import "~/src/variables.scss";

.total-wrapper {
    direction: rtl;
    display: flex;
    justify-content: center;
    height: 100%;


    .total-title-wrapper {
        padding-left: 50px;

        .total-title-amount {
            font-size: $totalTitleAmountfontSize;
            color: $thirdColor;
            font-weight: bold;
        }

        .total-title-text {
            font-size: $totalTitleTxtfontSize;
        }
    }
}