.app-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    .logo-title {
        height: 200px;
        text-align: center;

        img {
            height: 100%;
        }
    }

    .bg-image {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.1;
        z-index: -1;
        display: flex;
        align-items: center;

        img {
            width: 100%;
        }
    }

    .group-wrapper {
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        overflow: hidden;
        height: 40%;
    }

    .personal-wrapper {
        height: calc(100% - 270px - 200px);
        overflow: auto;
    }

    .total-wrapper {
        margin-top: -30px;
        height: 300px;
    }
}