@import "~/src/variables.scss";

.app-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    .top-display {
        height: $topHeight;
        position: relative;

        .center-display {
            width: 50%;
            margin: auto;
            height: 100%;

            .logo-title {
                height: $heightOfTitle;
                text-align: center;

                img {
                    height: 100%;
                }
            }

            .total-wrapper {
                margin-top: -30px;
                height: calc(100% - $heightOfTitle - -30px);
            }
        }



        .group-wrapper {
            position: absolute;
            top: 10%;
            left: 0;
            width: 100%;
            overflow: hidden;
            height: 80%;
        }
    }

    .bottom-display {
        height: $bottomHeight;

        .personal-wrapper {
            height: 100%;
            overflow: auto;
        }
    }




    .bg-image {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.1;
        z-index: -1;
        display: flex;
        // align-items: center;

        img {
            width: 100%;
        }
    }
}