@font-face {
    font-family: OpenSansHebrew;
    font-weight: bold;
    src: url('./assets/fonts/open-sans-hebrew/OpenSansHebrew-Bold.ttf');
}


@font-face {
    font-family: OpenSansHebrew;
    font-weight: bold;
    font-style: italic;
    src: url('./assets/fonts/open-sans-hebrew/OpenSansHebrew-BoldItalic.ttf');
}


@font-face {
    font-family: OpenSansHebrew;
    font-weight: 900;
    src: url('./assets/fonts/open-sans-hebrew/OpenSansHebrew-ExtraBold.ttf');
}

@font-face {
    font-family: OpenSansHebrew;
    font-weight: 900;
    font-style: italic;
    src: url('./assets/fonts/open-sans-hebrew/OpenSansHebrew-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: OpenSansHebrew;
    font-weight: normal;
    src: url('./assets/fonts/open-sans-hebrew/OpenSansHebrew-Regular.ttf');
}

@font-face {
    font-family: OpenSansHebrew;
    font-weight: normal;
    font-style: italic;
    src: url('./assets/fonts/open-sans-hebrew/OpenSansHebrew-Italic.ttf');
}

@font-face {
    font-family: OpenSansHebrew;
    font-weight: 300;
    src: url('./assets/fonts/open-sans-hebrew/OpenSansHebrew-Light.ttf');
}

@font-face {
    font-family: OpenSansHebrew;
    font-weight: 300;
    font-style: italic;
    src: url('./assets/fonts/open-sans-hebrew/OpenSansHebrew-LightItalic.ttf');
}