/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~/src/variables.scss";



body,html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


* {
    color: $subColor;
}